<!DOCTYPE html>
<html>
  <head>
    <title><%= calculatedValues.projectNumber %></title>
    <link rel="stylesheet" type="text/css" href="styletemplate.css">
  </head>
  <body>
    <img src="anand_mincons_logo.png" alt="Logo" />
    <p>Date: <%= calculatedValues.projectDate%></p>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Input Value</th>
        <th>Output Value</th>
      </tr>
      <tr>
        <td>Air Density</td>
        <td><!-- INPUT VALUE --></td>
        <td><%= (calculatedValues.airDensity).toFixed(2) %></td>
      </tr>
      <tr>
        <td>LD Factor</td>
        <td><!-- INPUT VALUE --></td>
        <td><%= (calculatedValues.ldFactor).toFixed(2) %></td>
      </tr>
      <tr>
        <td>Pressure Factor</td>
        <td><!-- INPUT VALUE --></td>
        <td><%= (calculatedValues.pressureFactor).toFixed(2) %></td>
      </tr>
      <!-- Add more rows for additional properties -->
    </table>

    <div>
      <%- htmlContent %>
    </div>
  </body>
</html>
